* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;

	background-color: slategrey;

	display: flex;
	flex-direction: column;
}

#booth {
	width: 100%;
	flex: 1;

	position: relative;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button {
	width: 25%;
	display: block;
	position: absolute;
	bottom: 50px;
}

#roll {
	width: 100%;
	height: 100px;

	padding: 10px;

	border-top: 2px black solid;
	background-color: white;
}

img {
	border: 10px #FFFF55 solid;
	border-radius: 5px;
}

img + img {
	margin-left: 10px;
}

@keyframes flash {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

#overlay {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: white;

	opacity: 0;
}

#overlay.flash {
	animation: flash 0.5s;
}
