* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

*:focus {
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;

	/* background pattern from Subtle Patterns */
	background: url("dark-triangles.png");
}

#main {
	width: 100%;
	flex: 1;

	display: flex;
	align-items: center;
}

#booth {
	flex: 1;
	order: 0;

	position: relative;

	/* horizontally center children */
	display: flex;
	flex-direction: column;
	align-items: center;
}

#preview1 {
	order: -1;
	margin: 25px;
}

#preview1 video {
	width: 100%;
}

#preview2 {
	order: 1;
	margin: 25px;
}

#preview2 video {
	width: 100%;
}

#caption {
	width: 25%;
	text-align: center;
	display: block;

	position: absolute;
	top: 50px;
}

#capture {
	width: 25%;
	display: block;

	position: absolute;
	bottom: 50px;
}

#roll {
	width: 100%;
	height: 100px;

	padding: 10px;

	/* correct scrolling */
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;

	/* no scrollbar (webkit requires a seperate selector) */
	-ms-overflow-style: none;  /* IE 10+ */
    overflow: -moz-scrollbars-none;  /* Firefox */
}

#roll::-webkit-scrollbar { 
    display: none; /* Safari and Chrome */
}

@keyframes fadein {
	0% {
		opacity: 0;
		transform: translateY(75%);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

.thumbnail {
	height: 100%;
	display: inline-block;

	animation: fadein 0.5s ease;

	position: relative;
}

.thumbnail img {
	height: 100%;
	border-radius: 5px;
}

.thumbnail::after {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	content: '\2193'; /* unicode downwards arrow (U+2193) */
	font-size: 70px;
	text-align: center;
	color: #aaa;

	background-color: #000;
	opacity: 0;
	transition: opacity 0.5s;
}

.thumbnail:hover::after {
	opacity: 0.5;
}

.thumbnail + .thumbnail {
	margin-left: 10px;
}

@keyframes flash {
	0%, 100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

#overlay {
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;

	background-color: white;
	opacity: 0;
}

#overlay.flash {
	animation: flash 0.5s;
}
